<div class="clearfix"></div>
<footer class="footer text-center footer-body">
    <div class="container-fluid">
        <div class="footer-header">
            <p class="navbar-center">
              <a href="#">Реклама</a>
              <a href="#">Контакти</a>
              <a href="#">За мен</a>
            </p>
            <p class="navbar-center "> Application by <a href="https://bg.linkedin.com/in/neviana-michaleva-4b6218119" target="_blanc"><strong>Neviana Michaleva &copy; 2017</strong></a></p>
        </div>
    </div>
</footer>