<div class="line">
    <footer>
        <div class="s-12 l-8">
            <h5>
                <a routerLink="advertising">Реклама</a>
                <a routerLink="contact">Контакти</a>
                <a routerLink="forme">За мен</a>
            </h5>
        </div>
        <div class="s-12 l-4">
            <h5>Application by
                <a href="https://bg.linkedin.com/in/neviana-michaleva-4b6218119" target="_blanc">
                    Neviana Michaleva &copy; 2017
                </a>
            </h5>
        </div>
    </footer>
</div>