<section id="home-section" class="line">
    <div class="margin">
        <!-- ARTICLES -->
        <div class="s-12 l-9">
            <h1>За мен и блога</h1>
            <h4>Благодаря Ви, че сте тук и се радвам, че искате да научите повече за мен и блога!</h4>
            <div class="entry">
                <p>Здравейте, казвам се Невяна. По образование съм информатик, по професия – счетоводител. Обичам да създавам - дрехи, мебели, подаръци, а вече и интернет страници и приложения. Не съм професионалист в нито една от тези области, но имам голямо желание,
                    уча и се старая много.
                </p>
                <p>Създадох този блог с намерението да покажа, че когато човек има желание и е готов да вложи малко време и много любов, може да си създаде истински ценности, по "скъпи" и от най-скъпите вещи, в истинския смисъл на думата.</p>
                <p>Сайта, е разработен също от мен с помощта на Ангулар 2 и Firebase, с които се харесахме почти от пръв поглед.</p>
                <p>Публикациите и фотографиите в блога са мои авторски. Съветите, които давам не са професионални, защото и аз не съм професионалист, всичко написано е от моят личен опит, като съм се стремила да не пропускам важни подробности. Ако ползвате
                    материали от блога, моля да посочите хипервръзка (линк) към оригиналната страница в блога, поставена в началото на статията.</p>
                <p>Ако искате да се свържете с мен във връзка с възникнал въпрос, реклама, общи проекти или всичко, което е важно за вас, може да го направите от <a routerLink="contact">тук</a>. Ще се радвам да прочета вашите мнения и предложения и ще отговоря
                    при първа възможност. Също така може да ме намерите в
                    <a href="https://plus.google.com/u/0/+NeviBivalici" target="_blanc">Google+</a>,
                    <a href="https://www.pinterest.com/NeviBivalici/" target="_blanc">Pinterest</a>,
                    <a href="https://bg.linkedin.com/in/neviana-michaleva-4b6218119" target="_blanc">LinkedIn</a> и
                    <a href="https://www.facebook.com/NeviBivalici/" target="_blanc">Facebook</a>.</p>
                <p>Надявам се да ви бъда полезна! </p>
            </div>
        </div>
        <div class="s-12 l-3">
            <app-choosen></app-choosen>
        </div>
    </div>
</section>