<header class="margin-bottom">
    <div class="line">
        <nav>
            <div class="top-nav">
                <p class="nav-text"></p>
                <a class="logo" routerLink="home">
                    <img src="../../images/logo_horizontal.png">
                </a>
                <h1>free crafts tutorials</h1>
                <ul class="top-ul right">
                    <li>
                        <a routerLink="home">Блог</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Категории<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li *ngFor="let category of (categories | async)"><a routerLink="/category/{{category.$key}}/{{category.name}}" routerLinkActive="active">{{category.name}}</a></li>
                        </ul>
                    </li>
                    <li>
                        <a routerLink="forme">За мен</a>
                    </li>
                    <li>
                        <a routerLink="contact">Контакти</a>
                    </li>
                    <div class="social right">
                        <a target="_blank" href="https://www.facebook.com/NeviBivalici/">
                            <i class="icon-facebook_circle icon2x"></i>
                        </a>
                        <a target="_blank" href="https://plus.google.com/u/0/+NeviBivalici">
                            <i class="icon-google_plus_circle icon2x"></i>
                        </a>
                        <a target="_blank" href="http://nevibivalici.blogspot.com/">
                            <i class="icon-dribbble_circle icon2x"></i>
                        </a>
                    </div>
                </ul>
            </div>
        </nav>
    </div>
</header>