<section id="home-section" class="line">
    <div class="margin">
        <!-- ARTICLES -->
        <div class="s-12 l-12">
            <div class="detail">
                <h1>{{(publication | async)?.title}}</h1>
                <div [innerHTML]="((publication | async)?.content) | sanitizeHtml"></div>
                <h4>Публикувано на: {{(publication | async)?.date | date:"dd.MM.yyyy г."}} в категория {{(publication | async)?. category}}</h4>
            </div>
        </div>
    </div>
</section>