<section id="article-section" class="line">
    <div class="margin">
        <!-- ARTICLES -->
        <div class="s-12 l-9">
            <!-- ARTICLE 1 -->
            <article class="margin-bottom">
                <!-- text -->
                <div class="post-text">
                    <h1>Контакти</h1>
                    <div class="line">
                        <div class="margin">
                            <div class="s-12 l-6">
                                <h4>Neviana Michaleva</h4>
                                <address>
                                 <p><i class="icon-mail icon"></i> nevianamichaleva@gmail.com</p>
                              </address>
                                <br />
                                <p><i class="icon-facebook icon"></i> <a href="https://www.facebook.com/neviana.michaleva">  Facebook</a></p>
                                <p><i class="icon-google_plus icon"></i> <a href="https://plus.google.com/u/0/+NeviBivalici">  Google</a></p>
                                <p><i class="icon-git icon"></i> <a href="https://github.com/nevianamichaleva">  GitHub</a></p>
                                <p class="margin-bottom"><i class="icon-linked_in icon"></i> <a href="https://bg.linkedin.com/in/neviana-michaleva-4b6218119">  LinkedIn</a></p>
                            </div>
                            <div class="s-12 l-6">
                                <form [formGroup]="myForm" class="customform" (ngSubmit)="onSent()">
                                    <div class="s-12"><input formControlName="email" #email placeholder="Вашият e-mail" title="Your e-mail" type="text" /></div>
                                    <div class="s-12"><input formControlName="name" #name placeholder="Вашето име" title="Your name" type="text" /></div>
                                    <div class="s-12"><textarea formControlName="notes" #notes placeholder="Вашето съобщение" name="" rows="5"></textarea></div>
                                    <button type="submit">Изпрати</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <div class="s-12 l-3">
            <aside>
                <!-- AD REGION -->
                <div class="advertising margin-bottom">
                    <img src="../../images/banner.jpg" alt="ad banner">
                </div>
            </aside>
        </div>
    </div>
</section>