<aside>
    <div *ngFor="let publication of (publications | async)">
        <div *ngIf="publication.choosen">
            <a [routerLink]="['/publication', publication.$key]">
                <img [src]="publication.image" alt="{{publication.title}}">
            </a>
            <div class="aside-block margin-bottom">
                <a [routerLink]="['/publication', publication.$key]">
                    <h3>{{publication.title}}</h3>
                </a>
                <p [innerHTML]="(publication.content | slice:0:150 | points | sanitizeHtml)"></p>
            </div>
        </div>
    </div>
</aside>