.img {
    width: 9.375em;
}

.btn {
    width: 12em;
    background-color: #162b4d;
    color: #637693;
    font-size: 1.250em;
    font-weight: bold;
    margin: 1.063em 0 0 19em;
}

.btn:hover {
    background-color: #162b4d;
}