<!-- MAIN SECTION -->
<section id="home-section" class="line">
    <div class="margin">
        <div class="s-12 l-12 mySearch">
            <form>
                <div class="form-group">
                    <div>
                        <input class="s-12 l-9 myInput" type="text" placeholder="Търсене на публикации..." #str (input)="onInput($event)">
                        <span class="input-group-btn">
                            <button class="s-12 l-3 myButton" type="button" (click)="findRecords()">Търси!</button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </div>
            </form>
        </div>
        <div class="s-12 l-12" *ngIf="isFiltred">
            <div>
                <h3>Резултати от търсенето</h3>
                <div>
                    <div *ngFor="let publication of (searchpublications | async | filterBy: searchText)">
                        <publication-card [publication]="publication"></publication-card>
                    </div>
                </div>
            </div>
        </div>
        <!-- ARTICLES -->
        <div class="clearfix"></div>
        <div class="s-12 l-9">
            <h3>Последни публикации</h3>
            <article *ngFor="let publication of (publications | async | sort:'-$key'); let i = index" [ngClass]="{'right-align': i%2 === 0}" class="post-{{i+1}} line">
                <!-- image -->
                <div class="s-12 l-6 post-image">
                    <a [routerLink]="['/publication', publication.$key]">
                        <img [src]="publication.image" alt="{{publication.title}}">
                    </a>
                </div>
                <!-- text -->
                <div class="s-12 l-5 post-text">
                    <a [routerLink]="['/publication', publication.$key]">
                        <h2>{{publication.title}}</h2>
                    </a>
                    <p [innerHTML]="(publication.content | slice:0:150 | points | sanitizeHtml)">
                    </p>
                </div>
                <!-- date -->
                <div class="s-12 l-1 post-date">
                    <p class="date">{{(publication.date | date:'dd')}}</p>
                    <p class="month">{{(publication.date | date:'MMM')}}</p>
                </div>
            </article>
        </div>
        <!-- SIDEBAR -->
        <div class="s-12 l-3">
            <h3>Избрани публикации</h3>
            <app-choosen></app-choosen>
        </div>
    </div>
</section>