<!-- MAIN SECTION -->
<section id="home-section" class="line">
    <div class="margin">
        <!-- ARTICLES -->
        <div class="s-12 l-9">
            <!-- ARTICLE 1 -->
            <article *ngFor="let publication of (publications | async); let i = index" [ngClass]="{'right-align': i%2 === 0}" class="post-{{i+1}} line">
                <!-- image -->
                <div class="s-12 l-6 post-image">
                    <a href="post-1.html">
                        <img [src]="publication.image" alt="{{publication.title}}">
                    </a>
                </div>
                <!-- text -->
                <div class="s-12 l-5 post-text">
                    <a href="post-1.html">
                        <h2>{{publication.title}}</h2>
                    </a>
                    <p>Lorem ipsum dolor sit amet, conse ctetuer. Duis autem vemeu iriure dolor adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat wisi enim.
                    </p>
                </div>
                <!-- date -->
                <div class="s-12 l-1 post-date">
                    <p class="date">{{(publication.date | date:'dd')}}</p>
                    <p class="month">{{(publication.date | date:'MMM')}}</p>
                </div>
            </article>
        </div>
        <!-- SIDEBAR -->
        <div class="s-12 l-3">
            <app-choosen></app-choosen>
        </div>
    </div>
</section>